UPDATE users SET password = '$2y$10$zalUjWxR7tuiFdgCXPddkuG3DnJn1kPGtcc23DpvPQkbcb7V7IfwK' WHERE username = 'admin';
UPDATE users SET password = '$2y$10$e1vFe6LzwWjyq6lk8Zm4aOJxcwMiq89XvqBYGVIbLUPXZQ93uJIPu' WHERE username = 'customer1';
UPDATE users SET password = '$2y$10$Mn2CW/vDAbx3fQqONL5oR..v9tEp3lKzi.b4G6YLOdk18135HtE6O' WHERE username = 'customer2';